@page "/masters/delete"

@using Microsoft.EntityFrameworkCore
@using TechServe.Model
@inject IDbContextFactory<TechServe.Data.TechServeContext> DbFactory
@inject NavigationManager NavigationManager


<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Master</h4>
    <hr />
    @if (master is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <!-- İlk satır -->
            <div class="item one-half short">
                <dt>CustomerName</dt>
                <dd>@master.CostumerName</dd>
            </div>

            <div class="item one-half short">
                <dt>E_Mail</dt>
                <dd>@master.E_Mail</dd>
            </div>

            <!-- İkinci satır -->
            <div class="item one-half short">
                <dt>Phone</dt>
                <dd>@master.Phone</dd>
            </div>

            <!-- Üçüncü satır -->
            <div class="item full-width address">
                <dt>Address</dt>
                <dd>@master.Adress</dd>
            </div>

            <!-- Dördüncü satır -->
            <div class="item half-width short">
                <dt>City</dt>
                <dd>@master.City</dd>
            </div>
            <div class="item half-width short">
                <dt>PostalCode</dt>
                <dd>@master.PostalCode</dd>
            </div>

            <!-- Ayrım çizgisi -->
            <div class="separator"></div>

            <!-- Beşinci satır -->
            <div class="item half-width short">
                <dt>DeviceBrand</dt>
                <dd>@master.DevicelBrand</dd>
            </div>
            <div class="item half-width short">
                <dt>DeviceModel</dt>
                <dd>@master.DevicelModel</dd>
            </div>

            <!-- Altıncı satır -->
            <div class="item half-width short">
                <dt>TypeOfService</dt>
                <dd>@master.TypeOfService</dd>
            </div>
            <div class="item half-width short">
                <dt>ServiceStatus</dt>
                <dd>@master.ServiceStatus</dd>
            </div>

            <div class="item full-width description">
                <dt>Used Parts</dt>
                <dd>@master.UsedParts</dd>
            </div>

            <!-- Yedinci satır -->
            <div class="item full-width description">
                <dt>Description</dt>
                <dd>@master.Description</dd>
            </div>

            <!-- Ayrım çizgisi -->
            <div class="separator"></div>

            <div class="item half-width short">
                <dt>ServiceCode</dt>
                <dd>@master.ServiceCode</dd>
            </div>
            <div class="item half-width short">
                <dt>Price</dt>
                <dd>@master.Price$</dd>
            </div>

            <!-- Sekizinci satır -->
            <div class="item half-width short">
                <dt>ArrivalDate</dt>
                <dd>@master.ArrivalDate</dd>
            </div>
            <div class="item half-width short">

                <dt>CompletionDate</dt>
                <dd>
                    @if (master.CompletionDate == DateOnly.MinValue)
                    {
                        <span>Not Completed</span>
                    }
                    else
                    {
                        <span>@master.CompletionDate.ToString("yyyy-MM-dd")</span>
                    }
                </dd>
            </div>
        </dl>

        <EditForm method="post" Model="master" OnValidSubmit="DeleteMaster" FormName="delete" Enhance>
            <div>
                <button type="submit" class="btn btn-edit btndlt" disabled="@(master is null)">Delete</button>
            </div>
            <div>
                <a href="/masters" class="btn btn-edit btn-back">Back to List</a>
            </div>
        </EditForm>
    }
</div>

@code {
    Master? master;

    [SupplyParameterFromQuery]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        master = await context.Master.FirstOrDefaultAsync(m => m.id == id);

        if (master is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteMaster()
    {
        using var context = DbFactory.CreateDbContext();
        context.Master.Remove(master!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/masters");
    }
}


<style>
    .btn {
        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        border: 2px solid; /* Thicker border */
        background-color: transparent; /* Transparent background */
        color: currentColor; /* Uses the color of the border */
        transition: background-color 0.3s, color 0.3s;
    }

    .btn-edit {
        border-color: #007bff; /* Blue border */
        color: #007bff; /* Blue text */
    }

        .btn-edit:hover {
            background-color: #007bff; /* Blue background on hover */
            color: white; /* White text on hover */
        }

    .btn-back {
        border-color: #6c757d; /* Gray border */
        color: #6c757d; /* Gray text */
    }

        .btn-back:hover {
            background-color: #6c757d; /* Gray background on hover */
            color: white; /* White text on hover */
        }

    .btndlt {
        border-color: #ff0f00;
        color: #ff0f00;
    }

        .btndlt:hover {
            background-color: #ff0f00;
            color: white;
        }
</style>