@page "/buyspareparts/details"

@using Microsoft.EntityFrameworkCore
@using TechServe.Model
@inject IDbContextFactory<TechServe.Data.TechServeContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>BuySpareParts</h4>
    <hr />
    @if (buyspareparts is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">SparePartsBrand</dt>
            <dd class="col-sm-10">@buyspareparts.SparePartsBrand</dd>
            <dt class="col-sm-2">SparePartsModel</dt>
            <dd class="col-sm-10">@buyspareparts.SparePartsModel</dd>
            <dt class="col-sm-2">PartsType</dt>
            <dd class="col-sm-10">@buyspareparts.PartsType</dd>
            <dt class="col-sm-2">AmountOfSpareParts</dt>
            <dd class="col-sm-10">@buyspareparts.AmountOfSpareParts</dd>
            <dt class="col-sm-2">Barcode</dt>
            <dd class="col-sm-10">@buyspareparts.Barcode</dd>
            <dt class="col-sm-2">SparePrice</dt>
            <dd class="col-sm-10">@buyspareparts.SparePrice</dd>
        </dl>
        <div>
            <a href="@($"/buyspareparts/edit?id={buyspareparts.id}")">Edit</a> |
            <a href="@($"/buyspareparts")">Back to List</a>
        </div>
    }
</div>

@code {
    BuySpareParts? buyspareparts;

    [SupplyParameterFromQuery]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        buyspareparts = await context.BuySpareParts.FirstOrDefaultAsync(m => m.id == id);

        if (buyspareparts is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
